/* Common */

h2 {
    font-size: 60px;
    text-transform: capitalize;
}

hr {
    border-width: 3px;
    text-align: center;
    width: 5%;
    margin: 1rem auto;
    border-color: #E76F51;
    opacity: 1;
}

p {
    font-size: 20px;
}

.btn {
    background-color: #E76F51;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 26px;
    text-transform: capitalize;
    border: 2px solid #E76F51;
}

.card-btn{
    padding: 5px 26px;
}

.btn:hover {
    background-color: transparent;
    color: #E76F51;
    border-color: #E76F51;
}

.nav-btn {
    padding: 6px 25px;
}

.carousel-control-next-icon{
    background-image: url(images/icons/chevron-right-solid.svg);
}
.carousel-control-prev-icon{
    background-image: url(images/icons/chevron-left-solid.svg);
}

/* Header */

.header {
    border-bottom: none;
    margin-bottom: -91px;
}

.navbar-nav {
    align-items: center;
}

/* Banner */

.banner {
    min-height: 95vh;
    padding: 150px 0 100px;
}

/* Collection */

.collection {
    padding: 100px 0;
}

.collection-container .bike-container{
    margin-top: 100px;
}

.collection-container .bike-container .col{
    padding: 0 50px;
}


/* News */

.news {
    padding: 100px 0;
}
.news-card-container{
    margin-top: 100px;
}

/* Testimonial */

.testimonial{
    padding: 100px 0;
}
/* FAQ */
.FAQ{
    padding: 100px 0;
}
.FAQ-container .FAQ-row{
    margin-top: 100px;
}

/* Responsive */

@media screen and (max-width: 576px){
    /* Commons */
    h2{
       font-size: 40px;
    }
    /* banner */
    .banner{
        padding: 100px 0 50px;
    }
    /* Collection */
    .collection{
        padding: 60px 0;
    }
    .collection-container .bike-container{
        margin-top: 30px;
    }
    /* News */
    .news {
        padding: 60px 0;
    }
    .news-card-container{
        margin-top: 30px;
    }
    /* Testimonial */
    .testimonial{
        padding: 60px 0;
    }
    /* FAQ */
    .FAQ{
        padding: 60px 0;
    }
    .FAQ-container .FAQ-row{
        margin-top: 50px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    /* Common */

    .navbar-nav {
        align-items: stretch;
    }

    .navbar-collapse {
        margin-top: 20px;
        text-align: center;
    }

    .btn {
        margin-top: 10px;
    }

    h2{
        font-size: 45px;

        /* Banner */
    }
    .banner {
        min-height: auto;
        padding: 120px 0 80px;
    }

    /* Collection */
    .collection{
        padding: 60px 0;
    }
    .collection-container .bike-container{
        margin-top: 30px;
    }
    /* News */
    .news {
        padding: 60px 0;
    }
    .news-card-container{
        margin-top: 50px;
    }
    /* Testimonial */
    .testimonial{
        padding: 60px 0;
    }
    /* FAQ */
    .FAQ{
        padding: 60px 0;
    }
    .FAQ-container .FAQ-row{
        margin-top: 60px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .collection{
        padding: 80px 0;
    }
    .collection-container .bike-container{
        margin-top: 50px;
    }
    /* News */
    .news {
        padding: 80px 0;
    }
    .news-card-container{
        margin-top: 50px;
    }
    /* Testimonial */
    .testimonial{
        padding: 80px 0;
    }
    /* FAQ */
    .FAQ{
        padding: 80px 0;
    }
}